.blue {
    -fx-fill: blue !important;
}

.red {
    -fx-fill: red !important;
}

.yellow {
    -fx-fill: yellow !important;
}

.green {
    -fx-fill: green !important;
}

.white {
    -fx-fill: white !important;
}

.black {
    -fx-fill: black !important;
}

.magenta {
    -fx-fill: magenta !important;
}

.lime {
    -fx-fill: lime !important;
}

.gray {
    -fx-fill: gray !important;
}